[Unit]
Description = Simple daemon for IP avalability monitoring
After = network.target 
 
[Service]
Type = simple
ExecStart = python ipm.py
Restart = on-failure 
RestartSec = 5
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target
